@font-face {
          font-family: Gotham Rounded;
           src: url("../fonts/GothamRounded-Medium.otf");
      }

      @font-face {
          font-family: Gotham Rounded Book;
           src: url("../fonts/GothamRounded-Book.otf");
      }

      @font-face {
          font-family: Montserrat Extra Light;
           src: url("../fonts/Montserrat-ExtraLight.ttf");
      }

         @font-face {
          font-family: Montserrat;
           src: url("../fonts/Montserrat-Regular.ttf");
      }
         @font-face {
          font-family: Montserrat Medium;
           src: url("../fonts/Montserrat-Medium.ttf");
      }

body {background-color: #4FBD88;}   

.topbar {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 150px;
  max-height: 90px;
  background-color: #FFF ;
  float: left;
  text-align: center;
  align-items:center;}

.menu {
  -webkit-box-flex: 1;
  flex: 1;
  margin-right: 15%;
  text-align: right;
}

.menucontent {
  display: inline-block;
  margin-left: 7%;
}

.val {
  font-size: 18px;
  text-decoration: none;
  color: #2D3232;
  font-family: Gotham rounded book;
}

.dropdown-content {
  margin-top: -20px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100px;
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
  z-index: 1;
}

.dropdown-content a {
    font-size: 16px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: gotham rounded book; 
    text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

img.logo {
object-fit: contain;
margin-left: 15%;
width: auto;
height: 70%;
}

@media (max-width: 750px) {
  .menu {
    display: none;
  }}
  
ul {
  list-style-type: none;
}

button {
  border: none;
}


