@font-face {
          font-family: Gotham Rounded;
           src: url("../fonts/GothamRounded-Medium.otf");
      }

      @font-face {
          font-family: Gotham Rounded Book;
           src: url("../fonts/GothamRounded-Book.otf");
      }

      @font-face {
          font-family: Montserrat Extra Light;
           src: url("../fonts/Montserrat-ExtraLight.ttf");
      }

         @font-face {
          font-family: Montserrat;
           src: url("../fonts/Montserrat-Regular.ttf");
      }
         @font-face {
          font-family: Montserrat Medium;
           src: url("../fonts/Montserrat-Medium.ttf");
      }
html, body {
  height: 100%;
  width: 100%;
}

.background { 
  background-image: url(../img/sammylandingbackground.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #F0F1F5;
  height: 100%;
  width: 100%;
}   

.topbar {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 100px;
  max-height: 100px;
  text-align: left; 
  margin-left: 10%;
  margin-right: 10%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  }


.menucontent {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
}


.val {
  font-size: 18px;
  text-decoration: none;
  color: #2D3232;
  font-family: Gotham rounded;
}

img.logo {
object-fit: contain;
width: auto;
height: 100%;
}
  
ul {
  list-style-type: none;
  margin: 0;
}

button {
  border: none;
  margin-bottom: 0;
  padding: 0;
}

.firstsection {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100% - 130px);
  text-align: center;
  align-items: center;
  background-color: transparent;
  flex-wrap: wrap;
}

h1.headline { 
  color: #414848;
  font-family: gotham rounded;
  overflow: hidden;
}

.firsttv {
  background-color: transparent;
  height: auto;
  width: 100%;
  font-family: gotham rounded book;
  margin-left: 10%;
  margin-right: 10%;
}

.firsttv2 {
  background-color: transparent;
  height: 50px;
  width: 100%;
} 

.firstsection > div
{
   flex: 1 0 50%;
}

.firstsection > div:first-child 
{
   flex: 0 1 100%;
}

.firstsection > div:second-child
{
   flex: 0 1 100%;
}

#menulogo {
    height: 70%;
}
.slicknav_menu {
  background-color: transparent !important;
  color: #2D3232;
}
.slicknav_btn {
  margin-right: 10%;
  background-color: transparent !important;
  margin-top: 11px;
}

/*Small Phone*/

@media only screen and (min-width: 220px) and (max-width: 479px) {
  .topbar {
    display: none;
  }

  #menulogo {
    margin-left: 10%;
    height: 50px;
    margin-right: auto;
    float: left;
  
  }
  
  .topbar {
    background-color: #F0F1F5;
    width: 100%;
    margin: 0;
  }

#menuoptions {
    margin-right: 10%;
}
 img.logo {
  margin-top: 5px;
  height: 40px;
}}


@media only screen and (min-width: 480px) and (max-width: 767px) {
   .topbar {
    display: none;
  }

  #menulogo {
    margin-left: 10%;
    height: 50px;
    margin-right: auto;
    float: left;
  
  }
  
  .topbar {
    background-color: #F0F1F5;
    width: 100%;
    margin: 0;
  }

#menuoptions {
    margin-right: 10%;
}
 img.logo {
  margin-top: 5px;
  height: 40px;
}}

@media only screen and (min-width: 768px) { 
 .slicknav_menu {
	display:none;
} }