@font-face {
          font-family: Gotham Rounded;
           src: url("../fonts/GothamRounded-Medium.otf");
      }

      @font-face {
          font-family: Gotham Rounded Book;
           src: url("../fonts/GothamRounded-Book.otf");
      }

      @font-face {
          font-family: Montserrat Extra Light;
           src: url("../fonts/Montserrat-ExtraLight.ttf");
      }

         @font-face {
          font-family: Montserrat;
           src: url("../fonts/Montserrat-Regular.ttf");
      }
         @font-face {
          font-family: Montserrat Medium;
           src: url("../fonts/Montserrat-Medium.ttf");
      }


* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  font-size: 12px !important;
}

h2 {
  font-size: 20px !important;
}

h3 {
  font-size: 14px !important;
}

h4 {
  font-size: 14px !important;
}

html, body {
  height: 100%; 
}

/*body {
  background: rgb(45,50,50);
} */

/* Sections */
.section.intro {
  color: #FFF;
  min-height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.section.about {
  background: rgb(197,199,200);
  color: rgb(45,50,50);
}

.section.team {
  background: rgb(197,199,200);
  color: rgb(45,50,50);
}

.section.contact {
  background: rgb(45,50,50);
  color: #FFF;
}

header.main {
  padding: 0px 30px 20px;
  position: absolute;
  top: 0;
}

header img.logo {
  height: 50px;
  width: 170px;
  display: block;
  color: transparent;
  margin: 30px auto;
}

.logo2 {
  float: right;
  margin-top: 38px !important;
  width: 10em !important;
  height: 3em !important;
  line-height: 3em !important;
  display: none !important;
}

div.container.main {
  text-align: center;
}

div.container.main h2 {
  font-family: Gotham Rounded, Montserrat Medium, sans-serif;
  text-shadow: 0 20px 55px rgba(0,0,0,0.33);
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
}

div.container.main h4 {
  font-family: Montserrat Extra Light;
  color: #FFF;
  text-shadow: 0 20px 55px rgba(0,0,0,0.33);
  letter-spacing: 1px;
}

.btn {
  font-family: Montserrat;
  font-weight: 100;
  display: inline-block;
  height: 4em;
  width: 21em;
  padding: 0 10px;
  color: #FFF;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 4em;
  letter-spacing: 1.5px;
  text-decoration: none;
  white-space: nowrap;
  background-color: rgb(15,157,88);
  border-radius: 40px;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 10px;
  box-shadow: 0 20px 55px rgba(0,0,0,0.33);
  transition: transform 0.3s, background-color 0.3s;
}

.btn:hover {
  transform: scale(1.05);
  color: #FFF;
  background-color: rgb(14,128,71);
}

.btn:active {
  transform: scale(1);
}

.btn2 {
  margin-top: 20px;
}

.section.intro h1.pil {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -22.5px;
}

.section.intro h1.pil a {
  height: 45px;
  width: 45px;
  display: inline-block;
  background: url('../img/pil.png') no-repeat center;
  background-size: contain;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  margin: auto;
  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  -ms-transform: translateZ(0px);
  -o-transform: translateZ(0px);
  transform: translateZ(0px);

}

.bounce {
  animation: bounce 1s infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

div.container.team {
  padding: 0px 20px 50px;
  text-align: center;
}


div.container.team h2.teamrubrik {
  font-family: Gotham Rounded, Montserrat Medium, sans-serif;
}

div.container.team h2.teamrubrik::after {
  content: '';
  position: absolute;
  display: inline-block;
  height: 1em;
  width: 50px;
  min-width: 45px;
  border-bottom: 3px solid;
  margin-top: 15px;
  margin-left: -25px;
  left: 50%;
  border-color: rgb(15,157,88);
}

div h1.bild {
  height: 200px;
  width: 200px;
  display: block;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 20px 55px rgba(0,0,0,0.33);
  border-radius: 100px;
}

div h1.bild1 {
   background: url('../img/oskar.png') 0 0 no-repeat;
}

div h1.bild2 {
   background: url('../img/janne.png') 0 0 no-repeat;
}

div h1.bild3 {
   background: url('../img/shmuel.png') 0 0 no-repeat;
}

div h1.bild4 {
   background: url('../img/william.png') 0 0 no-repeat;
}


div.container.team .bildarea {
  padding-top: 30px;
}

div.container.team .bildarea h2 {
  font-family: Gotham Rounded, Montserrat Medium, sans-serif;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 21px;
}

div.container.team .bildarea h3 {
  font-family: Gotham Rounded Book, Montserrat, sans-serif;
  color: rgb(15,157,88);
  margin-bottom: 0;
}

div.container.team .rowtwo {
  padding-top: 20px;
}

div.container.about {
  padding-top: 50px;
  text-align: center;
}

div.container.about p {
  margin-top: 40px;
}

div.container.about h2.aboutrubrik {
  font-family: Gotham Rounded, Montserrat Medium, sans-serif;
}

div.container.about h2.aboutrubrik::after {
  content: '';
  position: absolute;
  display: inline-block;
  height: 1em;
  width: 50px;
  border-bottom: 3px solid;
  left: 50%;
  margin-left: -25px;
  margin-top: 15px;
  border-color: rgb(15,157,88);
}

div.container.contact h1.contactrubrik {
  font-family: Gotham Rounded, Montserrat Medium, sans-serif;
  letter-spacing: 0.5px;
  margin-bottom: 50px;
  font-size: 18px;
}

div.container.contact .contactarea {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 0px;
}

input::-webkit-input-placeholder {
  color: rgb(140,152,152);
  font-family: Gotham Rounded Light, Montserrat, sans-serif;
  font-size: 16px;
  transition: color 0.2s;
}

textarea::-webkit-input-placeholder {
  color: rgb(140,152,152);
  font-family: Gotham Rounded Light, Montserrat, sans-serif;
  font-size: 16px;
  transition: color 0.2s;
}

input:focus::-webkit-input-placeholder { 
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

input.foretagskod::-webkit-input-placeholder { 
  font-family: Gotham Rounded, Montserrat Medium, sans-serif !important;
  text-transform: uppercase;
}

textarea:valid, input[type="email"]:valid,
input[type="number"]:valid,
input[type="search"]:valid,
input[type="text"]:valid,
input[type="tel"]:valid,
input[type="url"]:valid,
input[type="password"]:valid {
  color: rgb(15,157,88);
  font-family: Gotham Rounded Book, Montserrat, sans-serif;
}

textarea:invalid, input[type="email"]:invalid,
input[type="number"]:invalid,
input[type="search"]:invalid,
input[type="text"]:invalid,
input[type="tel"]:invalid,
input[type="url"]:invalid,
input[type="password"]:invalid {
  color: #e74c3c !important;
  font-family: Gotham Rounded Book, Montserrat, sans-serif;
}

input[type="text"] {
  text-transform: capitalize;
}


div.contact div.btnarea {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
}

div.about img {
  box-shadow: 0 20px 55px rgba(0,0,0,0.33);
  border-radius: 25px;
  width: 200px;
  display: none;
}

form.formular {
  padding-top: 110px;
}

.mockupbild {
  margin-bottom: 30px;
}

hr.seperator {
  border-top: 2px solid rgba(0,0,0,0.2);
  position: relative;
  z-index: 50;
  margin-bottom: 0;
  width: 80%;
}

  input[type="text"] {
  margin-left: 0 !important;
}

textarea {
  margin-left: 0 !important;
  width: 100% !important;
}

.namnarea {
  margin-top: 10px;
}

@media (min-width: 400px) {
  p {
  font-size: 15px !important;
  }

h2 {
    font-size: 25px !important;
  }

  h3 {
    font-size: 18px !important;
  }

  h4 {
    font-size: 14px !important;
  }

  h1.contactrubrik {
    font-size: 20px !important;
  }

}


@media (min-width: 750px) {
  .headerarea {
  width: 100% !important;
  
  }

  h4 {
    font-size: 18px !important;
  }

  div.container.team .bildarea h2 {
    font-size: 25px !important;
  }

  input[type="text"].four {
  margin-left: 10.8% !important;
}

textarea {
  margin-left: 3.3% !important;
  width: 65.3333333333% !important;
}

h1.contactrubrik {
    font-size: 25px !important;
  }

}

@media (min-width: 1000px) {

    .textarea {
    max-width: 786px;
    margin: 0 auto;
  }

  .logo2 {
    display: inline-block !important; 
  }

  .headerarea {
  width: 50% !important;
  margin-left: 0 !important;
}

header img.logo {
  margin: 30px 0;
}

 h2 {
    font-size: 32px !important;
  }

  h4 {
    font-size: 18px !important;
  }

}

@media (min-width: 1920px) {
  h2 {
    font-size: 40px !important;
  }

  h4 {
    font-size: 24px !important;
  }

  p {
    font-size: 18px !important;
  }

  h1.contactrubrik {
    font-size: 25px !important;
  }

   div.container.team .bildarea h2 {
    font-size: 30px !important;
  }

  div.container.team .bildarea h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 22px !important;
  }

}

/* inloggningsskärm */

.login {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 400px;
}

.login .container {
  text-align: center;
}

.dekal {
  width: 125px;
  margin-bottom: 3rem;
}

.foretagskod {
    transform: translateX(0%) !important;
    max-width: 400px  !important;
    min-width: 250px !important;
    text-align: left !important;
    background-color: white !important;
    color: rgb(45,50,50) !important;
    border: none !important;
    height: 60px !important;
    padding: 12px 25px !important;
    font-family: Gotham Rounded, Montserrat, sans-serif !important;
    border-radius: 40px !important;
    width: 80% !important;
    margin-left: 0 !important;
    text-transform: uppercase !important;
}

.floating-label {
  color: #B3B6BB;
  font-size: 14px;
  font-family: Gotham Rounded, Montserrat, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  position: absolute;
  pointer-events: none;
  left: 50%;
  transform: translateX(-160%);
  top: 60%;
  opacity: 1;
  transition: opacity 0.2s ease;
}

input.foretagskod:focus ~ .floating-label,
input.foretagskod:not(:focus):valid ~ .floating-label{
  opacity: 0;
  left: 50% !important;
  transform: translateX(-160%) !important;
}

.submitknapp:active, .submitknapp:focus {
  transform: scale(1) !important;
}