@font-face {
          font-family: Gotham Rounded;
           src: url("../fonts/GothamRounded-Medium.otf");
      }

      @font-face {
          font-family: Gotham Rounded Book;
           src: url("../fonts/GothamRounded-Book.otf");
      }

      @font-face {
          font-family: Montserrat Extra Light;
           src: url("../fonts/Montserrat-ExtraLight.ttf");
      }

         @font-face {
          font-family: Montserrat;
           src: url("../fonts/Montserrat-Regular.ttf");
      }
         @font-face {
          font-family: Montserrat Medium;
           src: url("../fonts/Montserrat-Medium.ttf");
      }

/* Header */

html, body {
  height: 100%;
  width: 100%;
}

.background {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #F0F1F5;
  height: calc(100% - 80px);
  width: 100%;
}

.menucontent {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
}
.menulogo {
    margin-left: 10%;
    margin-right: auto;
    float: left;
}



li.menucontent a {
  font-size: 22px;
  text-decoration: none;
  font-family: Gotham rounded;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -2px;
}

ul > :first-child {
  padding-top: 50px;
}
ul > :nth-child(3) {
  padding-bottom: 50px;
}

div.firsttv::after {
  content: "";
  position: absolute;
  background:#57B77F;
  height: 3px;
  width: 60%;
  left:20%;
  right: 0;
}

img.logo {
  object-fit: contain;
  margin-top: 12px;
  height: 46px;
}

ul {
  list-style-type: none;
  margin: 0;
}

button {
  border: none;
  margin-bottom: 0;
  padding: 0;
}


.slicknav_menu {
  background-color: transparent !important;
  color: #2D3232;
  min-height: 80px;
}
.slicknav_btn {
  margin-right: 10%;
  background-color: transparent !important;
  margin-top: 11px;
}

.slicknav_nav a:hover {
  background: transparent !important;
  color: #57B77F;
}
li.login {
    width: 328px;
    height: 62px;
    text-align: center;
    margin-left: calc(50% - 70px);
    background-color: #2FC58E;
    color: #FFF;
    margin-bottom: 40px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 36px;
    font-family: gotham rounded;
}
.login a {
height: 40px;
line-height: 40px;
color: #fff !important;
}

.firstsection {
  display: -webkit-flex;
  display: flex;
  flex-direction:column;
  max-width: 100%;
  max-height: calc(100%-100px);
  text-align: center;
  align-items:flex-start;
  justify-content: center;
  background-color: transparent;
  flex-wrap: wrap;
}
.headlines
{
  display: -webkit-flex;
  display: flex;
  flex-direction:row;
  width: 100%;
  height: 250px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  }


.info
{
  width: 38%;
}
.headcontent
{
  display: -webkit-flex;
  display: flex;
  flex-direction:row;
  width: 100%;
  height: 590px;
  text-align: center;
  background-color: transparent;
  flex-wrap: wrap;
}


.topheadline
{
  font-family: gotham rounded;
  font-style: bold;
  font-size: 100px;
}

h1.headline {
  color: #fff;
  font-family: gotham rounded;
  overflow: hidden;
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 25px;
}

img.mockup
{
object-fit: contain;
width: 100%;

}

.mockupdiv
{
  width: 62%;
}

div.firsttv {
  position: relative;
  background-color: transparent;
  height: auto;
  width: 100%;
}

.firsttv2 {
  position: relative;
  background-color: transparent;
  height: auto;
  width: 100%;
  margin-top: 25px;
}

.underheadline {
  color: #fff;
  font-family: gotham rounded book;
  overflow: hidden;
  margin-top: 25px;
  font-size: 18px;
  margin-bottom: 0;
}

#js-rotating {
  color: #57B77F;
}

.signup {
  width: 140px;
  text-align: center;
  background-color: #57B77F;
  color: #FFF;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-family: gotham rounded;
  margin-top: 30px;
}

.signup a {
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
}

.contact {
  width: 140px;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-family: gotham rounded;
  margin-top: 15px;
}

.contact a {
  height: 40px;
  line-height: 40px;
  color: #57B77F;
  text-decoration: none;
}



/*Small Phone*/


#menuoptions {
    margin-right: 10%;
}
 img.logo {
  margin-top: 15px;
  height: 40px;
}
h1.headline {
  font-size: 100px;

}
h2.underheadline {
  font-size: 23px;
  margin-bottom: 35px;
}
.signup {
  width: 175px;
  text-align: center;
  background-color: #57B77F;
  color: #FFF;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: gotham rounded;
  margin-top: 40px;
}

.signup a {
  height: 50px;
  line-height: 50px;
  color: #fff;
  text-decoration: none;
}

.contact {
  width: 175px;
  text-align: center;
  background-color: #fff;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: gotham rounded;
  margin-top: 25px;
}

.contact a {
  height: 50px;
  line-height: 50px;
  color: #57B77F;
  text-decoration: none;
}
}



#js-rotating {
  color: #2D3232;
}

h2.contactlink{
  width: 250px;
  height: 50px;
  text-align: center;
  background-color: #2FC58E;
  color: #FFF;
  margin-bottom: 40px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 15px;
  font-family: gotham rounded;
  font-weight: normal;
}

li.login {
  margin-bottom: 0;
  margin-left: 0;
  width: 110px;
  font-size: 13px;
  height: 35px;

}
li.login a {
  line-height: 35px;
  text-decoration: none;
}
.background {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #F0F1F5;
  height: 100%;
  width: 100%;
}

.topbar {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 100px;
  max-height: 100px;
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  }

li.menucontent a {
  color: #2D3232;
  font-size: 18px;
  letter-spacing: 0;
}
li.menucontent a:hover {
  color: #57B77F;
}

img.logo {
  object-fit: contain;
  margin-top: 0;
  height: 60px;
}

ul > :first-child {
  padding: 0;
}
ul > :nth-child(2) {
margin-left: 15px;
}
ul > :nth-child(3) {
  margin-left: 15px;
  padding: 0;
}
ul > :nth-child(4) {
 margin-left: 40px;
}

.firstsection {
  flex-direction: row;
  height: calc(100% - 160px);
}
h1.headline {
  color: #2D3232;
}

div.firsttv3 {
  position: relative;
  background-color: transparent;
  width: 300px;
  text-align: left;
  margin-left: 20px;
  align-self: baseline;
  display: block;


}
div.firsttv {
  position: relative;
  background-color: transparent;
  height: auto;
  width: 300px;
  text-align: right;
  margin-right: 20px;
  align-self: baseline;
  margin-top: 60px;
  display: block;
}

div.firsttv h1.headline::after {
  content: "";
  position: absolute;
  background:#2D3232;
  height: 4px;
  width: 30%;
  margin-top: 35px;
  right: 0;
}
div.firsttv3 h1.headline::after {
  content: "";
  position: absolute;
  background:#2D3232;
  height: 4px;
  width: 30%;
  margin-top: 35px;
}


img.mobilmock{
  width: 180px;
  display: block;
}
h1.headline {
  font-size: 33px;
  margin-top: 20px;
  color: #2D3232;
}

h2.underheadline {
  margin-top: 75px;
  color: #2D3232;
}

.maincontent {
  display: flex;
  justify-content: center;
  width: 100%; }

.signup {
  width: 175px;
  text-align: center;
  background-color: #57B77F;
  color: #FFF;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 17px;
  font-family: gotham rounded;
  margin-top: 0;
}

.signup a {
  height: 50px;
  line-height: 50px;
  color: #fff;
  text-decoration: none;
}

.contact {
  width: 175px;
  text-align: center;
  background-color: #fff;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 17px;
  font-family: gotham rounded;
  margin-top: 0;
}

.contact a {
  height: 50px;
  line-height: 50px;
  color: #57B77F;
  text-decoration: none;
}
