@font-face {
          font-family: Gotham Rounded;
           src: url("../fonts/GothamRounded-Medium.otf");
      }

      @font-face {
          font-family: Gotham Rounded Book;
           src: url("../fonts/GothamRounded-Book.otf");
      }

      @font-face {
          font-family: Montserrat Extra Light;
           src: url("../fonts/Montserrat-ExtraLight.ttf");
      }

         @font-face {
          font-family: Montserrat;
           src: url("../fonts/Montserrat-Regular.ttf");
      }
         @font-face {
          font-family: Montserrat Medium;
           src: url("../fonts/Montserrat-Medium.ttf");
      }

/*General*/

html, body {
  height: 100%;
  width: 100%;
}

.background { 
  background-image: url(../img/sammylandingbackground.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #F0F1F5;
  height: 100%;
  width: 100%;
}   

/* Topbar */

.topbar {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 150px;
  max-height: 130px;
  background-color: transparent;
  text-align: right;
  align-items: center; 
  }

.nav {
  flex-grow: 4; 
  margin-right: 10%;
}

.logo {
object-fit: contain;
margin-left: 10%;
width: auto;
height: 60%;
}

.menucontent {
  display: inline-block;
  text-align: right;
  margin: 3%;
}

.val {
  font-size: 22px;
  text-decoration: none;
  color: #2D3232;
  font-family: Gotham rounded;
}
 
ul {
  list-style-type: none;
  margin: 0;
}

/*First section*/

.firstsection {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100% - 130px);
  background-color: transparent;
}

.tagline { 
  color: #414848;
  font-family: gotham rounded;
  font-size: 30px;

}

.subline {
  background-color: transparent;
  height: auto;
  width: 100%;
  font-family: gotham rounded book;
  font-size: 15px;
}

.iphonemock {
 height:60%;
 align-self: center;
 margin: auto;
}

.column { 
flex-grow: 1;
z-index: 2;
margin-left: 30%;
}

@media (max-width: 750px) {
  .menucontent , .menucontent1 , .menucontent2 {
    display: none;
  }}


