@font-face {
          font-family: Gotham Rounded;
           src: url("../fonts/GothamRounded-Medium.otf");
      }

      @font-face {
          font-family: Gotham Rounded Book;
           src: url("../fonts/GothamRounded-Book.otf");
      }

      @font-face {
          font-family: Montserrat Extra Light;
           src: url("../fonts/Montserrat-ExtraLight.ttf");
      }

         @font-face {
          font-family: Montserrat;
           src: url("../fonts/Montserrat-Regular.ttf");
      }
         @font-face {
          font-family: Montserrat Medium;
           src: url("../fonts/Montserrat-Medium.ttf");
      }

body {background-color: #4FBD88;}   

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 150px;
    background-color: lightgrey;}

.flex-item {
    background-color: yellow;
    justify-content: space-around;
    width: 45%;
    height: auto;}

.menu {
  width: 100%;
  max-width: 1440x;
  max-height: 120px;
  background-color: #000 !important ;
  float: left;
  text-align: center;}

img.logo {
object-fit: contain;
margin-left: 10%;
width: auto;
height: 80%;
}

@media (max-width: 750px) {
  img.logo {
    display: none;
  }