@font-face {
          font-family: Gotham Rounded;
           src: url("../fonts/GothamRounded-Medium.otf");
      }

      @font-face {
          font-family: Gotham Rounded Book;
           src: url("../fonts/GothamRounded-Book.otf");
      }

      @font-face {
          font-family: Montserrat Extra Light;
           src: url("../fonts/Montserrat-ExtraLight.ttf");
      }

         @font-face {
          font-family: Montserrat;
           src: url("../fonts/Montserrat-Regular.ttf");
      }
         @font-face {
          font-family: Montserrat Medium;
           src: url("../fonts/Montserrat-Medium.ttf");
      }

body {background-color: #4FBD88;}   

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 150px;
    background-color: lightgrey;}

.topbar {
  width: 100%;
  max-height: 100px;
  background-color: #FFF !important ;
  float: left;
  text-align: center;
  align-items:center;}

.menu {
  font-size: 25px;
  justify-content: flex-end;
  -webkit-box-flex: 1;
  flex: 1;
  margin-right: 10%;
  text-align: right;
}

.val {
  margin-left: 8%;
  text-decoration: none;
  color: #2D3232;
  font-family: Gotham rounded;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  max-width: 160px;
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
  z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

img.logo {
object-fit: contain;
margin-left: 10%;
width: auto;
height: 60%;
}

@media (max-width: 750px) {
  img.logo {
    display: none;
  }

button.val {
  border: none;}