// Border radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
// Flexbox display
@mixin flexbox() {
  display: -webkit-box;display: -ms-flexbox;
  display: flex;
}
