//Background colors
$bggrey: #f6f7fb;
$bgwhite: #fff;

//Primary colors
$priblue: #709FF6;
$prigreen: #7ADBB9;
$priyellow: #fcea94;
$prired: #f57b87;

//Hover colors
$prigreenhover: #45cd9d;
//Text colors
$normal-text:#646B75;

//Box-shadow colors
$boxshadow1: 2px 0px 20px 0px #C5C7C8;
$boxshadow2:0px 2px 23px rgba(219, 221, 226, 0.7);
//Fonts
$font-family:'Quicksand', sans-serif;
//Font sizes

//border colors
$border-color-primary:#dedfe2;
$border-color-secondary:#ADB4C5;
//BACKGROUND PEOPL
$backgroundpeopl:linear-gradient(315deg, $prigreen 0%, $priblue 100%);
