.firstsection .backgroundfs {
  background: linear-gradient(315deg, #7ADBB9 0%, #709FF6 100%); }

html, body {
  margin: 0; }

.topmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  width: 100%;
  background-color: #F6F7FB; }
  .topmenu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    padding: 0 120px; }
    .topmenu ul li {
      list-style-type: none; }
    .topmenu ul .logoWrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center; }
      .topmenu ul .logoWrapper li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center; }
        .topmenu ul .logoWrapper li img {
          height: 50px; }
    .topmenu ul .linkWrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-direction: row;
      width: 60%;
      height: 100%;
      align-items: center;
      justify-content: flex-end; }
      .topmenu ul .linkWrapper li {
        margin-right: 8%; }
        .topmenu ul .linkWrapper li:last-of-type {
          margin-right: 0; }
        .topmenu ul .linkWrapper li a {
          font-family: "Quicksand", sans-serif;
          font-size: 20px;
          color: #646B75;
          text-decoration: none;
          font-weight: 500; }
      .topmenu ul .linkWrapper .loginbutton {
        padding: 4px 30px;
        background-color: transparent;
        border: 1px solid #dedfe2;
        border-radius: 5px; }

.firstsection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - 80px);
  flex-direction: column; }
  .firstsection .backgroundfs {
    width: 100%;
    height: 85%;
    box-shadow: 2px 0px 20px 0px #C5C7C8; }
    .firstsection .backgroundfs .arbetsmiljo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      padding-left: 120px;
      height: 20%; }
      .firstsection .backgroundfs .arbetsmiljo h1 {
        font-family: "Quicksand", sans-serif;
        font-size: 50px;
        color: #fff;
        font-weight: 400;
        margin: 0; }
    .firstsection .backgroundfs .contentwrapperfs {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-direction: row;
      width: 100%; }
      .firstsection .backgroundfs .contentwrapperfs .contentwrappertext {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 5%; }
        .firstsection .backgroundfs .contentwrapperfs .contentwrappertext .enkelt {
          padding-left: 120px;
          width: 40%; }
          .firstsection .backgroundfs .contentwrapperfs .contentwrappertext .enkelt h2 {
            font-family: "Quicksand", sans-serif;
            font-size: 100px;
            color: #fff;
            font-weight: bold;
            margin: 0; }
        .firstsection .backgroundfs .contentwrapperfs .contentwrappertext .breadtext {
          padding-left: 120px;
          width: 40%; }
          .firstsection .backgroundfs .contentwrapperfs .contentwrappertext .breadtext h3 {
            font-family: "Quicksand", sans-serif;
            font-size: 25px;
            color: #fff;
            font-weight: 400;
            margin: 0; }
            .firstsection .backgroundfs .contentwrapperfs .contentwrappertext .breadtext h3 span {
              font-weight: bold;
              font-size: 30px; }
        .firstsection .backgroundfs .contentwrapperfs .contentwrappertext .testbutton {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          align-items: center;
          padding-left: 120px;
          width: 40%;
          height: 200px; }
          .firstsection .backgroundfs .contentwrapperfs .contentwrappertext .testbutton a {
            font-family: "Quicksand", sans-serif;
            font-size: 40px;
            color: #7AB7DD;
            font-weight: 500;
            margin: 0;
            text-decoration: none;
            padding: 6px 30px;
            background-color: #fff;
            border-radius: 5px; }
      .firstsection .backgroundfs .contentwrapperfs .contentwrapperimg {
        width: 100%;
        margin-bottom: 5%; }
  .firstsection .externalfs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    background-color: #F6F7FB; }
    .firstsection .externalfs .imgreference {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      align-items: center; }
    .firstsection .externalfs .textreference {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .firstsection .externalfs .textreference a {
        font-family: "Quicksand", sans-serif;
        font-size: 25px;
        color: #ADB4C5;
        font-weight: 400;
        text-decoration: none; }

.hejsan {
  width: 100px; }

/*# sourceMappingURL=app.css.map */
